%p
  "you were invited to be part of the #{@organization.name}'s BonusBatch!!"

%p
  Below you will find your access link

  %strong
    = link_to 'Go to my organization', invitation_url(@organization.id)


