.sign-box
  %p
    You were invited to be a Member of:
    %strong= @organization.name

  .sign
    = image_tag 'crowd.png'
    .google-apps
      = link_to google_apps_sign_in_path do
        = image_tag 'google-apps.gif'
