.container
  - if current_user
    %menu.nav.navbar-nav.navbar-right
      %li.dropdown
        %a#drop1.dropdown-toggle{ 'data-toggle' => 'dropdown', href: '#' }
          = current_user.name
          %b.caret
        %ul.dropdown-menu{'aria-labelledby' => 'drop1', role: 'menu' }
          %li{ role: 'presentation', tabindex: '-1' }
            = link_to 'Sign out', destroy_user_session_path, method: 'delete', role: 'menuitem'
